<div class="add-entity" ng-controller="AddUserController">
  <form action="/" id="login">
    <div class="title">
      <span class="number">1</span>
      <h1>User info</h1>
    </div>
    <div class="container">
      <input class="input" type="text" ng-model="name" placeholder="Name"></input>
      <input class="input" type="email" ng-model="email" placeholder="E-mail"></input>
      <input class="input" type="text" ng-model="city" placeholder="City"></input>
      <input class="input" type="text" ng-model="userName" placeholder="Username"></input>
      <input class="input" type="password" ng-model="password" minlength="8" required placeholder="Password"></input>
    </div>

    <button class="button" type="button" ng-click="submit()">Add User</button>
  </form>
</div>
