<div class="add-entity" ng-controller="AddStoreController">
  <form action="/" id="login">
    <div class="title">
      <span class="number">1</span>
      <h1>Store info</h1>
    </div>
    <div class="container">
        <input class="input" type="text" ng-model="name" placeholder="Name"></input>
        <input class="input" type="text" ng-model="ruc" placeholder="RUC"></input>
        <input class="input" type="text" ng-model="city" placeholder="City"></input>

        <select class="input" ng-model="userSelected"
                ng-change="changedValue(userSelected)"
                data-ng-options="user as user.name for user in users">
          <option value="">--- Select a user --- </option>
        </select>
    </div>
    
    <button class="button" type="button" ng-click="submit()">Add store</button>
  </form>
</div>
