.login-container {
  width: 40%;
  margin-top: 130px;
  margin-right: auto;
  margin-left: auto;
}

.login-container .form .logo{
  background-color: #1abc9c;
  border-radius: 40%;
}

.login-container .form {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  border-style: outset;
  background-color: #ececec;
  color: white;
}

.login-container .form input{
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.login-container .form .button {
  width: 100%;
  background-color: #1abc9c;
  height: 38px;
  color: white;
  text-transform: uppercase;
}

.login-container .errorMessage {
  color: red;
}
