.add-entity {
  max-width: 450px;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

.add-entity .title{
  display: flex;
  align-items: center;
}

.add-entity .container{
  display: flex;
  flex-direction: column;
}

.add-entity .container .input{
  flex: 1;
  height: 30px;
  margin-bottom: 10px;
}

.add-entity .button{
  display: block;
  padding: 19px 39px 18px 39px;
  color: #FFF;
  margin: 0 auto;
  background: #1abc9c;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #16a085;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}
.add-entity .title .number{
  background: #1abc9c;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 15px 15px 15px 0px;
}


.list {
  max-width: 450px;
  margin: 0 auto;
}

.list .search {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  font-size: 20px;
}

.list ul {
  padding: 0;
}

.list li {
  display: block;
  margin: 0;
}

.list li:not(:last-child) {
  border-bottom: 1px dashed cornflowerblue;
}

.list .info{
  background: #f4f7f8;
  margin: 0 auto;
  padding: 25px;
}

.list .info h2{
  text-decoration: underline;
}
.list .info h3{
  font-weight: normal;
}

.list .button{
  width: 100%;
  height: 40px;
  text-transform: uppercase;
  color: white;
  background-color: #1abc9c;
}
